// Grid size
$grid-max-width: 1280px;


// Spaces
$section-gutter: 4rem;


// Typography
$base-font-size: 14px;
$base-line-height: 1.5;

$base-paragraph-size: 14px;

$hero-font-size: 48px;
$h1-font-size: 40px;
$h2-font-size: 2.25rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;

$underlined-links: true;


// Fonts
$fonts-path: '../../fonts/';

$font-barlow: 'Barlow', sans-serif;;
$font-poppins: 'Poppins', sans-serif;


// Colors
$white: #FFF;
$black: #000;
$yellow: #f5bb40;
$header-color: #384350;

$base-text-color: $white;


// Forms
$form-columns-gap: 1rem;

$form-input-padding-tops: 0.5rem;
$form-input-padding-sides: 1rem;

$form-input-border-radius: 0;
$form-input-border-width: 1px;
$form-input-border-color: #8f8f8f;

$form-input-text-size: $base-font-size;

$form-input-background-color: transparent;
$form-input-text-color: $white;


// Common radius
$base-radius: 6px;
$button-radius: 0;

// Header
$header-bg-color: $white;


// Hamburger
$hamburger-breakpoint: 940px;

$hamburger-label-color: #e1e1e1;
$hamburger-line-color: #e1e1e1;

$hamburger-overlay-color: #e1e1e1;
$hamburger-overlay-item-color: #384350;

$hamburger-line-width: 45px;
$hamburger-line-height: 3px;
$hamburger-line-radius: 2.5px;
$hamburger-line-gap: 7px;

$hamburger-height: ($hamburger-line-height * 3) + $hamburger-line-gap * 2;
