@import '../config';

.bg-dark {
    padding: 5rem 0;
    background-color: $header-color;
    h1, h2 {
        color: $white;
    }

    h1 {
        margin-bottom: 80px;
        &:after {
            background-color: $yellow;
        }
    }

    h2 {
        font-weight: 500;
    }

    p {
        color: #8f8f8f;
    }
}