@import '../config';
@import '../core/breakpoints';

.button {
	display: inline-flex;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	line-height: 1;
	border-radius: $button-radius;
	cursor: pointer;
	padding: 0.75rem 2rem;
	font-weight: 500;
	text-transform: uppercase;
	@include max940px {
		display: block;
	}
}

.button--black {
	background-color: $black;
	color: $white;
}

.button--white {
	background-color: $white;
	color: $black;
}

.button--yellow {
	background-color: #f5bb40;
	color: $black;
}

.button--icon {
	padding: 0;
	height: 40px;
	align-items: center;
	&:hover {
		.button__icon {
			transform: rotate(90deg);
		}
	}

	.button__text,
	.button__in {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.button__text {
		padding: 0 1rem;
		font-size: 13px;
		font-weight: bold;
		color: #27303b;
	}

	.button__in {
		padding: 0 0.5rem;
		background-color: #d0a547;
	}

	.button__icon {
		width: 20px;
		transition: all 200ms ease-in-out;
		polygon, path {
			fill: #27303b;
		}
	}

}

.button--transparent {
	background-color: transparent;
	border: 1px solid #a8a8a8;
	color: $white;
}